:root {
  --color-bg: #fff;
  --color-text: #000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #121212;
    --color-text: #eaeaea;
  }
}

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
}

.l-header,
.l-footer {
  margin: 3rem 0;
  text-align: center;
}

.l-main {
  width: 100%;
  max-width: 50rem;
  padding: 0 0.5rem;
  margin: 0 auto;
}

.c-section {
  margin: 2.5rem 0;
}
